/*
 * Making custom properties in root element,
 * Resetting colors with created properties
*/
html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-gray: #f3f3f3;
    --color-dark-gray: #353535;
    --text-color: var(--color-black);
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}
